<table> <tbody>
	<tr><th><%= form.label :name, 'Name' %></th>
  		<td><%= form.text_field :name %></td></tr>
  	<tr><th><%= form.label :criteria, 'Criteria' %></th>
  		<td><%= form.text_area :criteria %></td></tr>
  	<tr><th><%= form.label :deadline, 'Due Date' %></th>
 		<td><%= form.text_field :deadline %></td></tr>
 </tbody> </table> 