<div class="homework-head <%= header.how_soon -%>">
<h3 class="left">
  <%= link_to_unless_current "#{header.deadline.to_date.to_formatted_s(:short)}: #{header.name}", homework_path(header), :title => "Click for details" %>
  
</h3>
<div class="ops right">
  <% if not header.done? %>
    <%= update_homework_state(header, "Done", "done") %>
  <% end %>
  <%= link_to "Edit", edit_homework_path(header) %>
  <%= link_to "Delete", homework_path(header), :method => :delete%>
</div>
<div class="clear"></div>
</div>
