<table>
	<tbody>
	<tr>
	<td><%= form.label :name, "Class Name"%></td>
	<td><%= form.text_field :name %></td>
	</tr>
	<tr>
	<td><%= form.label :school %></td>
	<td><%= form.text_field :school %></td>
	</tr>
	<tr>
	<td><%= form.label :teacher %></td>
	<td><%= form.text_field :teacher %></td>
	</tr>
	<tr>
	<td><%= form.label :year %></td>
	<td><%= form.text_field :year %></td>
	</tr>
	<tr>
	<td><%= form.label :term %></td>
	<td><%= form.text_field :term %></td>
	</tr>
	<tr>
	<td><%= form.label :period %></td>
	<td><%= form.text_field :period %></td>
	</tr>
	</tbody>
</table>
